In [1]:
#import the numpy library and aliasing as np
import numpy as np
#import the pandas library and aliasing as pd
import pandas as pd

In [2]:
s= pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\Mohit Agarwal\AppData\Local\Temp\ipykernel_19808\2943978948.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s= pd.Series()

In [3]:
data = np.array([1,2,3,4,5,3],dtype='f')
s= pd.Series(data)
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    3.0
dtype: float32

In [4]:
data = np.array([1,2,3,4,5,3],dtype='f')
s= pd.Series(data,index = [100,101,102,103,104,105])
print(s)

100    1.0
101    2.0
102    3.0
103    4.0
104    5.0
105    3.0
dtype: float32

In [5]:
data = {'a':1.,'b':2}
s= pd.Series(data)
print(s)

a    1.0
b    2.0
dtype: float64

In [6]:
data = {'a':1.,'d':2}
s= pd.Series(data,index=['b','a','d'])
print(s)

b    NaN
a    1.0
d    2.0
dtype: float64

In [7]:
#If data is a scalar value, an index must be provided. The value will be repeated to match the length of index .
s= pd.Series(5,index=[1,2,3,4,5])
print(s)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [8]:
#Retrieve Data Using Label
s = pd.Series([1,2,3,4,5],index =['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
print(s['a'])

1

In [10]:
print(s['d'])

4

In [11]:
print(s[['a','b','e']])

a    1
b    2
e    5
dtype: int64

In [12]:
print(s['f'])

KeyError: 'f'

In [ ]:
print(s[0])

In [ ]:
print(s[:3])

In [ ]:
print(s[-6:])

In [ ]:
#dataframes
#creating an empty dataframe 
df = pd.DataFrame()
print(df)

In [ ]:
data= [[1,2,34,4],[34,5,3,2]]
df = pd.DataFrame(data)
print(df)

In [ ]:
data = [['Alex',10],['Bob',20],['Clarke',30]]
df= pd.DataFrame(data,index=[1,2,3],columns=['Name','Age'])
print(df)

In [ ]:
data = [['Alex',10],['Bob',20],['Clarke',30]]
df= pd.DataFrame(data,index=[1,2,3],columns=['Name','Age'],dtype=float)
print(df)

In [ ]:
#create a DataFramme from Dict of ndarrays/Lists
data= {'Name':['Shubham','Garima','Prashant'],'Age':[21,22,21]}
df= pd.DataFrame(data,index=['rank1','rank2','rank3'])
print(df)

In [ ]:
#create a DataFrame from List of Dicts
data = [{'a':1,'b':2,'c':3},{'a':3,'b':4},{'a':6,'b':7,'c':8}]
df =pd.DataFrame(data)
print(df)

In [ ]:
#create a DataFrame from List of Dicts
data = [{'a':1,'b':2,'c':3},{'a':3,'b':4},{'a':6,'b':7,'c':8}]
df =pd.DataFrame(data,index=['first','second','third'])
print(df)

In [ ]:
#panel

In [ ]:
data = np.random.rand(2,4,5)
p = pd.Panel(data)
print(p)

In [ ]:
data= np.array([1,2,3,5])
p= pd.Panel(data)
print(p)

In [ ]:
print(np.__version__)
print(pd.__version__)

In [ ]:
p=pd.Panel()
print(p)

In [ ]:
p= pd.Series(np.random.rand(5))
print(p)

In [ ]:
data ={'item':pd.Series([1,2,3])}
p= pd.DataFrame(data)
print(p)

In [ ]:
s= pd.Series(np.random.rand(4))
print("The axes are : ")
print(s.axes)

In [ ]:
print(s.empty)

In [ ]:
print(s.ndim)

In [ ]:
print(s)

In [ ]:
print(s.size)

In [ ]:
print(s.values)

In [ ]:
p = pd.Series(np.random.rand(8))
print(p)

In [ ]:
print(p.tail())

In [ ]:
#transpose
#create a dict of series
data = {'name':pd.Series(['Shubham','Garima',"Prashant"]), 'age':pd.Series([1,2,3])}
#create a dataframe
df= pd.DataFrame(data)
print(df)

In [ ]:
print(df.T)

In [ ]:
print(df.axes)

In [ ]:
print(df.dtypes)

In [ ]:
print(df.empty)

In [ ]:
print(df.ndim)

In [ ]:
print(df.shape
     )

In [ ]:
df.size

In [ ]:
df.values

In [13]:
df.head(1)

NameError: name 'df' is not defined

In [14]:
df.tail(1)

NameError: name 'df' is not defined

In [ ]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print( df.describe())

In [15]:
print(df.describe(include= ['object']))

NameError: name 'df' is not defined

In [ ]:
print(df.describe(include= ['number']))

In [16]:
print(df.describe(include= 'all'))

NameError: name 'df' is not defined

In [17]:
def adder(ele1,ele2):
    return ele1+ele2
df= pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print(df.apply(np.mean))

col1    0.689421
col2   -0.035661
col3    0.189474
dtype: float64

In [18]:
def adder(ele1,ele2):
    return ele1+ele2
df= pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0  1.300517 -0.691743 -0.516999
1  0.013921 -1.664707  1.093334
2 -1.125889 -0.276095 -0.119721
3  2.200731 -1.355853 -1.481887
4 -0.590806  0.801658  1.145920

In [19]:
df.pipe(adder,2)

       col1      col2      col3
0  3.300517  1.308257  1.483001
1  2.013921  0.335293  3.093334
2  0.874111  1.723905  1.880279
3  4.200731  0.644147  0.518113
4  1.409194  2.801658  3.145920

In [20]:
print(df.mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of        col1      col2      col3
0  1.300517 -0.691743 -0.516999
1  0.013921 -1.664707  1.093334
2 -1.125889 -0.276095 -0.119721
3  2.200731 -1.355853 -1.481887
4 -0.590806  0.801658  1.145920>

In [21]:
print(df.apply(np.mean))

col1    0.359695
col2   -0.637348
col3    0.024129
dtype: float64

In [22]:
df.apply(np.mean,axis=0)
print(df.apply(np.mean))

col1    0.359695
col2   -0.637348
col3    0.024129
dtype: float64

In [23]:
print(df)

       col1      col2      col3
0  1.300517 -0.691743 -0.516999
1  0.013921 -1.664707  1.093334
2 -1.125889 -0.276095 -0.119721
3  2.200731 -1.355853 -1.481887
4 -0.590806  0.801658  1.145920

In [24]:
#my custom function
df['col2'].map(lambda x:x*100)

0    -69.174252
1   -166.470669
2    -27.609462
3   -135.585281
4     80.165826
Name: col2, dtype: float64

In [25]:
df.applymap(lambda x:x*100)
print(df.apply(np.mean))

col1    0.359695
col2   -0.637348
col3    0.024129
dtype: float64

In [26]:
# pandas sorting
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,2,3,4,5,6,7,8,9,10],columns = ['col1','col2']
                          )
print(unsorted_df)

        col1      col2
1  -1.145307  0.670299
2  -0.653709  0.502578
3  -0.780746 -0.092053
4   2.080706  1.521029
5   0.824737 -1.122642
6   1.591630  1.365916
7   1.385591 -2.339834
8   0.690720 -0.064502
9  -0.035649  1.156504
10  0.326546  1.322778

In [27]:
sorted_df= unsorted_df.sort_index()
print(sorted_df)

        col1      col2
1  -1.145307  0.670299
2  -0.653709  0.502578
3  -0.780746 -0.092053
4   2.080706  1.521029
5   0.824737 -1.122642
6   1.591630  1.365916
7   1.385591 -2.339834
8   0.690720 -0.064502
9  -0.035649  1.156504
10  0.326546  1.322778

In [28]:
sorted_df= unsorted_df.sort_index(ascending=True)
print(sorted_df)

        col1      col2
1  -1.145307  0.670299
2  -0.653709  0.502578
3  -0.780746 -0.092053
4   2.080706  1.521029
5   0.824737 -1.122642
6   1.591630  1.365916
7   1.385591 -2.339834
8   0.690720 -0.064502
9  -0.035649  1.156504
10  0.326546  1.322778

In [29]:
sorted_df= unsorted_df.sort_index(axis=1)
print(sorted_df)

        col1      col2
1  -1.145307  0.670299
2  -0.653709  0.502578
3  -0.780746 -0.092053
4   2.080706  1.521029
5   0.824737 -1.122642
6   1.591630  1.365916
7   1.385591 -2.339834
8   0.690720 -0.064502
9  -0.035649  1.156504
10  0.326546  1.322778

In [30]:
sorted_df= unsorted_df.sort_values(by='col1')
print(sorted_df)

        col1      col2
1  -1.145307  0.670299
3  -0.780746 -0.092053
2  -0.653709  0.502578
9  -0.035649  1.156504
10  0.326546  1.322778
8   0.690720 -0.064502
5   0.824737 -1.122642
7   1.385591 -2.339834
6   1.591630  1.365916
4   2.080706  1.521029

In [31]:
sorted_df= unsorted_df.sort_values(by=['col1','col2'])
print(sorted_df)

        col1      col2
1  -1.145307  0.670299
3  -0.780746 -0.092053
2  -0.653709  0.502578
9  -0.035649  1.156504
10  0.326546  1.322778
8   0.690720 -0.064502
5   0.824737 -1.122642
7   1.385591 -2.339834
6   1.591630  1.365916
4   2.080706  1.521029

In [32]:
sorted_df = unsorted_df.sort_values(by='col1',kind='mergesort')
print(sorted_df)

        col1      col2
1  -1.145307  0.670299
3  -0.780746 -0.092053
2  -0.653709  0.502578
9  -0.035649  1.156504
10  0.326546  1.322778
8   0.690720 -0.064502
5   0.824737 -1.122642
7   1.385591 -2.339834
6   1.591630  1.365916
4   2.080706  1.521029

In [33]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
print(df)

          A         B         C         D
a -0.093637  0.375985 -2.130774  0.130749
b  1.251545 -0.764995  0.545554 -0.866068
c  1.810843 -1.114986 -0.325040  1.493152
d  0.692705 -0.515531 -0.823388 -1.715001
e  0.021997  0.320062  1.048023 -0.742281
f -0.338775  1.866879  1.764436 -0.037263
g  0.643073 -0.180486 -0.010848 -2.960591
h -0.299933 -0.317382 -0.299844  2.181939

In [34]:
print(df.loc['a','A'])

-0.09363673884020302

In [35]:
print(df.loc[['a','b','c'],['A','B','C']])

          A         B         C
a -0.093637  0.375985 -2.130774
b  1.251545 -0.764995  0.545554
c  1.810843 -1.114986 -0.325040

In [36]:
print(df.loc['a':'h'])

          A         B         C         D
a -0.093637  0.375985 -2.130774  0.130749
b  1.251545 -0.764995  0.545554 -0.866068
c  1.810843 -1.114986 -0.325040  1.493152
d  0.692705 -0.515531 -0.823388 -1.715001
e  0.021997  0.320062  1.048023 -0.742281
f -0.338775  1.866879  1.764436 -0.037263
g  0.643073 -0.180486 -0.010848 -2.960591
h -0.299933 -0.317382 -0.299844  2.181939

In [37]:
print(df.loc['a']>0)

A    False
B     True
C    False
D     True
Name: a, dtype: bool

In [38]:
print(df.iloc[1,:3])

A    1.251545
B   -0.764995
C    0.545554
Name: b, dtype: float64

In [39]:
print(df.iloc[:,0:2])

          A         B
a -0.093637  0.375985
b  1.251545 -0.764995
c  1.810843 -1.114986
d  0.692705 -0.515531
e  0.021997  0.320062
f -0.338775  1.866879
g  0.643073 -0.180486
h -0.299933 -0.317382

In [40]:
print(df.iloc[1:3,1:3])

          B         C
b -0.764995  0.545554
c -1.114986 -0.325040

In [41]:
#ix() method

print(df.ix[:4])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
print(df['A'])

In [ ]:
print(df[['A','B']])

In [ ]:
print(df[1:1])

In [ ]:
print(df.A)

In [ ]:
df = pd.Series([10,2,3,4,5,2])
print(df.pct_change())

In [ ]:
s= pd.DataFrame(np.random.randn(10,2),index=[1,2,3,4,5,6,7,8,9,10])
print(s)

In [ ]:
print(s.rank(),ascending=False)

In [ ]:
df = pd.DataFrame(np.random.randn(5,3), index=['a','b','c','e','g'],columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f','g','h'])
df

In [ ]:
print(df['one'].notnull())

In [ ]:
print(df['one'])

In [ ]:
print(df['one'].sum())

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
print(df)

In [ ]:
df= pd.DataFrame(np.random.randn(5,3),index=['a','b','c','e','f'],columns=['one','two','three'])
df

In [ ]:
df=df.reindex(['a','b','c','d','e','f','g'])
df

In [ ]:
df.fillna(0,inplace=True)
df

In [44]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
#fill method forward
print(df.fillna(method='pad'))

        one       two     three
a -0.286477 -0.634486 -0.157643
b -0.286477 -0.634486 -0.157643
c  0.571508  0.183871  0.197547
d  0.571508  0.183871  0.197547
e  0.640150  0.408058  1.526175
f  0.576420  1.550755 -0.019961
g  0.576420  1.550755 -0.019961
h -0.868958  0.136609  0.772870

In [45]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
#fill method backward
print(df.fillna(method='backfill'))

        one       two     three
a  0.669553  0.018873 -1.057902
b -0.561365  2.035230  0.318577
c -0.561365  2.035230  0.318577
d  0.062568  1.411720 -1.396612
e  0.062568  1.411720 -1.396612
f  1.237139 -1.394462 -2.451685
g -0.259665 -1.058519  0.009281
h -0.259665 -1.058519  0.009281

In [49]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
#drop missing values
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [55]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})
print(df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60
    one   two
0    10  1000
1    20    10
2    30    30
3    40    40
4    50    50
5  2000    60