In [1]:
#import the numpy library and aliasing as np
import numpy as np
#import the pandas library and aliasing as pd
import pandas as pd

In [3]:
s= pd.Series()
print(s)

Series([], dtype: float64)

C:\Users\Mohit Agarwal\AppData\Local\Temp\ipykernel_18148\2943978948.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s= pd.Series()

In [17]:
data = np.array([1,2,3,4,5,3],dtype='f')
s= pd.Series(data)
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    3.0
dtype: float32

In [18]:
data = np.array([1,2,3,4,5,3],dtype='f')
s= pd.Series(data,index = [100,101,102,103,104,105])
print(s)

100    1.0
101    2.0
102    3.0
103    4.0
104    5.0
105    3.0
dtype: float32

In [23]:
data = {'a':1.,'b':2}
s= pd.Series(data)
print(s)

a    1.0
b    2.0
dtype: float64

In [30]:
data = {'a':1.,'d':2}
s= pd.Series(data,index=['b','a','d'])
print(s)

b    NaN
a    1.0
d    2.0
dtype: float64

In [31]:
#If data is a scalar value, an index must be provided. The value will be repeated to match the length of index .
s= pd.Series(5,index=[1,2,3,4,5])
print(s)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [32]:
#Retrieve Data Using Label
s = pd.Series([1,2,3,4,5],index =['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [33]:
print(s['a'])

1

In [34]:
print(s['d'])

4

In [38]:
print(s[['a','b','e']])

a    1
b    2
e    5
dtype: int64

In [39]:
print(s['f'])

KeyError: 'f'

In [40]:
print(s[0])

1

In [41]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [44]:
print(s[-6:])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [45]:
#dataframes
#creating an empty dataframe 
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [49]:
data= [[1,2,34,4],[34,5,3,2]]
df = pd.DataFrame(data)
print(df)

    0  1   2  3
0   1  2  34  4
1  34  5   3  2

In [55]:
data = [['Alex',10],['Bob',20],['Clarke',30]]
df= pd.DataFrame(data,index=[1,2,3],columns=['Name','Age'])
print(df)

     Name  Age
1    Alex   10
2     Bob   20
3  Clarke   30

In [59]:
data = [['Alex',10],['Bob',20],['Clarke',30]]
df= pd.DataFrame(data,index=[1,2,3],columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
1    Alex  10.0
2     Bob  20.0
3  Clarke  30.0

C:\Users\Mohit Agarwal\AppData\Local\Temp\ipykernel_18148\2653725059.py:2: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df= pd.DataFrame(data,index=[1,2,3],columns=['Name','Age'],dtype=float)

In [60]:
#create a DataFramme from Dict of ndarrays/Lists
data= {'Name':['Shubham','Garima','Prashant'],'Age':[21,22,21]}
df= pd.DataFrame(data,index=['rank1','rank2','rank3'])
print(df)

           Name  Age
rank1   Shubham   21
rank2    Garima   22
rank3  Prashant   21

In [64]:
#create a DataFrame from List of Dicts
data = [{'a':1,'b':2,'c':3},{'a':3,'b':4},{'a':6,'b':7,'c':8}]
df =pd.DataFrame(data)
print(df)

   a  b    c
0  1  2  3.0
1  3  4  NaN
2  6  7  8.0

In [65]:
#create a DataFrame from List of Dicts
data = [{'a':1,'b':2,'c':3},{'a':3,'b':4},{'a':6,'b':7,'c':8}]
df =pd.DataFrame(data,index=['first','second','third'])
print(df)

        a  b    c
first   1  2  3.0
second  3  4  NaN
third   6  7  8.0

In [2]:
#panel

In [7]:
data = np.random.rand(2,4,5)
p = pd.Panel(data)
print(p)

AttributeError: module 'pandas' has no attribute 'Panel'

In [2]:
data= np.array([1,2,3,5])
p= pd.Panel(data)
print(p)

AttributeError: module 'pandas' has no attribute 'Panel'

In [3]:
print(np.__version__)
print(pd.__version__)

1.22.3
1.4.1

In [5]:
p=pd.Panel()
print(p)

AttributeError: module 'pandas' has no attribute 'Panel'

In [12]:
p= pd.Series(np.random.rand(5))
print(p)

0    0.279394
1    0.763458
2    0.354403
3    0.463891
4    0.814708
dtype: float64

In [19]:
data ={'item':pd.Series([1,2,3])}
p= pd.DataFrame(data)
print(p)

   item
0     1
1     2
2     3

In [30]:
s= pd.Series(np.random.rand(4))
print("The axes are : ")
print(s.axes)

The axes are :
[RangeIndex(start=0, stop=4, step=1)]

In [24]:
print(s.empty)

False

In [25]:
print(s.ndim)

1

In [26]:
print(s)

0     0.950686
1     0.127358
2     0.655871
3     0.968860
4     0.836324
        ...
95    0.587769
96    0.723298
97    0.806862
98    0.868090
99    0.931204
Length: 100, dtype: float64

In [27]:
print(s.size)

100

In [31]:
print(s.values)

[0.26879179 0.80967886 0.51014577 0.49319154]

In [11]:
p = pd.Series(np.random.rand(8))
print(p)

0    0.545648
1    0.410976
2    0.343366
3    0.035135
4    0.763760
5    0.163778
6    0.615227
7    0.103902
dtype: float64

In [13]:
print(p.tail())

3    0.035135
4    0.763760
5    0.163778
6    0.615227
7    0.103902
dtype: float64

In [15]:
#transpose
#create a dict of series
data = {'name':pd.Series(['Shubham','Garima',"Prashant"]), 'age':pd.Series([1,2,3])}
#create a dataframe
df= pd.DataFrame(data)
print(df)

       name  age
0   Shubham    1
1    Garima    2
2  Prashant    3

In [17]:
print(df.T)

            0       1         2
name  Shubham  Garima  Prashant
age         1       2         3

In [18]:
print(df.axes)

[RangeIndex(start=0, stop=3, step=1), Index(['name', 'age'], dtype='object')]

In [20]:
print(df.dtypes)

name    object
age      int64
dtype: object

In [21]:
print(df.empty)

False

In [22]:
print(df.ndim)

2

In [23]:
print(df.shape
     )

(3, 2)

In [24]:
df.size

6

In [25]:
df.values

array([['Shubham', 1],
       ['Garima', 2],
       ['Prashant', 3]], dtype=object)

In [29]:
df.head(1)

      name  age
0  Shubham    1

In [32]:
df.tail(1)

       name  age
2  Prashant    3

In [2]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print( df.describe())

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [4]:
print(df.describe(include= ['object']))

       Name
count    12
unique   12
top     Tom
freq      1

In [6]:
print(df.describe(include= ['number']))

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [8]:
print(df.describe(include= 'all'))

       Name        Age     Rating
count    12  12.000000  12.000000
unique   12        NaN        NaN
top     Tom        NaN        NaN
freq      1        NaN        NaN
mean    NaN  31.833333   3.743333
std     NaN   9.232682   0.661628
min     NaN  23.000000   2.560000
25%     NaN  25.000000   3.230000
50%     NaN  29.500000   3.790000
75%     NaN  35.500000   4.132500
max     NaN  51.000000   4.800000

In [23]:
def adder(ele1,ele2):
    return ele1+ele2
df= pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print(df.apply(np.mean))

col1   -0.254610
col2   -0.059953
col3   -0.656869
dtype: float64

In [21]:
def adder(ele1,ele2):
    return ele1+ele2
df= pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

       col1      col2      col3
0 -0.816124  0.659821  0.497845
1 -0.017163  0.307828 -0.980009
2  0.002483 -0.539534  0.553738
3 -0.638644 -0.102265  0.253796
4  1.374076 -0.485740  0.278261

In [24]:
df.pipe(adder,2)

       col1      col2      col3
0  1.614628  2.590304 -0.148346
1  0.130674  1.205198  1.089190
2  1.932085  1.700573  2.942814
3  2.215930  1.868225  2.273450
4  2.833631  2.335937  0.558546

In [25]:
print(df.mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of        col1      col2      col3
0 -0.385372  0.590304 -2.148346
1 -1.869326 -0.794802 -0.910810
2 -0.067915 -0.299427  0.942814
3  0.215930 -0.131775  0.273450
4  0.833631  0.335937 -1.441454>

In [32]:
print(df.apply(np.mean))

col1   -0.254610
col2   -0.059953
col3   -0.656869
dtype: float64

In [33]:
df.apply(np.mean,axis=0)
print(df.apply(np.mean))

col1   -0.254610
col2   -0.059953
col3   -0.656869
dtype: float64

In [36]:
print(df)

       col1      col2      col3
0 -0.385372  0.590304 -2.148346
1 -1.869326 -0.794802 -0.910810
2 -0.067915 -0.299427  0.942814
3  0.215930 -0.131775  0.273450
4  0.833631  0.335937 -1.441454

In [41]:
#my custom function
df['col2'].map(lambda x:x*100)

0    59.030436
1   -79.480241
2   -29.942727
3   -13.177457
4    33.593722
Name: col2, dtype: float64

In [45]:
df.applymap(lambda x:x*100)
print(df.apply(np.mean))

col1   -0.254610
col2   -0.059953
col3   -0.656869
dtype: float64

In [46]:
# pandas sorting
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,2,3,4,5,6,7,8,9,10],columns = ['col1','col2']
                          )
print(unsorted_df)

        col1      col2
1   0.678682 -0.133309
2   0.998120 -0.960188
3   2.015789 -2.286393
4   1.495550 -2.035371
5   0.795337 -1.648125
6   0.501439 -0.199969
7  -1.146003 -0.026617
8  -0.340412 -0.140914
9  -0.857895 -0.497415
10  1.905461 -0.123943

In [47]:
sorted_df= unsorted_df.sort_index()
print(sorted_df)

        col1      col2
1   0.678682 -0.133309
2   0.998120 -0.960188
3   2.015789 -2.286393
4   1.495550 -2.035371
5   0.795337 -1.648125
6   0.501439 -0.199969
7  -1.146003 -0.026617
8  -0.340412 -0.140914
9  -0.857895 -0.497415
10  1.905461 -0.123943

In [53]:
sorted_df= unsorted_df.sort_index(ascending=True)
print(sorted_df)

        col1      col2
1   0.678682 -0.133309
2   0.998120 -0.960188
3   2.015789 -2.286393
4   1.495550 -2.035371
5   0.795337 -1.648125
6   0.501439 -0.199969
7  -1.146003 -0.026617
8  -0.340412 -0.140914
9  -0.857895 -0.497415
10  1.905461 -0.123943

In [54]:
sorted_df= unsorted_df.sort_index(axis=1)
print(sorted_df)

        col1      col2
1   0.678682 -0.133309
2   0.998120 -0.960188
3   2.015789 -2.286393
4   1.495550 -2.035371
5   0.795337 -1.648125
6   0.501439 -0.199969
7  -1.146003 -0.026617
8  -0.340412 -0.140914
9  -0.857895 -0.497415
10  1.905461 -0.123943

In [55]:
sorted_df= unsorted_df.sort_values(by='col1')
print(sorted_df)

        col1      col2
7  -1.146003 -0.026617
9  -0.857895 -0.497415
8  -0.340412 -0.140914
6   0.501439 -0.199969
1   0.678682 -0.133309
5   0.795337 -1.648125
2   0.998120 -0.960188
4   1.495550 -2.035371
10  1.905461 -0.123943
3   2.015789 -2.286393

In [58]:
sorted_df= unsorted_df.sort_values(by=['col1','col2'])
print(sorted_df)

        col1      col2
7  -1.146003 -0.026617
9  -0.857895 -0.497415
8  -0.340412 -0.140914
6   0.501439 -0.199969
1   0.678682 -0.133309
5   0.795337 -1.648125
2   0.998120 -0.960188
4   1.495550 -2.035371
10  1.905461 -0.123943
3   2.015789 -2.286393

In [61]:
sorted_df = unsorted_df.sort_values(by='col1',kind='mergesort')
print(sorted_df)

        col1      col2
7  -1.146003 -0.026617
9  -0.857895 -0.497415
8  -0.340412 -0.140914
6   0.501439 -0.199969
1   0.678682 -0.133309
5   0.795337 -1.648125
2   0.998120 -0.960188
4   1.495550 -2.035371
10  1.905461 -0.123943
3   2.015789 -2.286393

In [6]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
print(df)

          A         B         C         D
a -0.050043 -1.417180  1.311949 -1.613208
b  0.039687  1.883364  0.815412  1.015350
c  1.620198 -0.396709  0.004541 -0.077325
d  0.341159  1.665903 -0.440213 -0.441344
e  0.474129  1.189700 -0.612036 -0.288531
f -0.447524 -1.685470 -0.256329 -0.964331
g -0.354965  0.578867 -1.354135  0.869568
h  0.290421 -1.269420  1.403237  0.583938

In [7]:
print(df.loc['a','A'])

-0.05004282502885882

In [10]:
print(df.loc[['a','b','c'],['A','B','C']])

          A         B         C
a -0.050043 -1.417180  1.311949
b  0.039687  1.883364  0.815412
c  1.620198 -0.396709  0.004541

In [11]:
print(df.loc['a':'h'])

          A         B         C         D
a -0.050043 -1.417180  1.311949 -1.613208
b  0.039687  1.883364  0.815412  1.015350
c  1.620198 -0.396709  0.004541 -0.077325
d  0.341159  1.665903 -0.440213 -0.441344
e  0.474129  1.189700 -0.612036 -0.288531
f -0.447524 -1.685470 -0.256329 -0.964331
g -0.354965  0.578867 -1.354135  0.869568
h  0.290421 -1.269420  1.403237  0.583938

In [12]:
print(df.loc['a']>0)

A    False
B    False
C     True
D    False
Name: a, dtype: bool

In [25]:
print(df.iloc[1,:3])

A    0.039687
B    1.883364
C    0.815412
Name: b, dtype: float64

In [28]:
print(df.iloc[:,0:2])

          A         B
a -0.050043 -1.417180
b  0.039687  1.883364
c  1.620198 -0.396709
d  0.341159  1.665903
e  0.474129  1.189700
f -0.447524 -1.685470
g -0.354965  0.578867
h  0.290421 -1.269420

In [29]:
print(df.iloc[1:3,1:3])

          B         C
b  1.883364  0.815412
c -0.396709  0.004541

In [31]:
#ix() method

print(df.ix[:4])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [32]:
print(df['A'])

a   -0.050043
b    0.039687
c    1.620198
d    0.341159
e    0.474129
f   -0.447524
g   -0.354965
h    0.290421
Name: A, dtype: float64

In [36]:
print(df[['A','B']])

          A         B
a -0.050043 -1.417180
b  0.039687  1.883364
c  1.620198 -0.396709
d  0.341159  1.665903
e  0.474129  1.189700
f -0.447524 -1.685470
g -0.354965  0.578867
h  0.290421 -1.269420

In [40]:
print(df[1:1])

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [41]:
print(df.A)

a   -0.050043
b    0.039687
c    1.620198
d    0.341159
e    0.474129
f   -0.447524
g   -0.354965
h    0.290421
Name: A, dtype: float64

In [8]:
df = pd.Series([10,2,3,4,5,2])
print(df.pct_change())

0         NaN
1   -0.800000
2    0.500000
3    0.333333
4    0.250000
5   -0.600000
dtype: float64

In [9]:
s= pd.DataFrame(np.random.randn(10,2),index=[1,2,3,4,5,6,7,8,9,10])
print(s)

           0         1
1   0.580091 -1.046574
2  -1.220876  0.126985
3  -1.176400  0.276472
4  -0.393482 -0.320005
5  -0.412408  0.145413
6  -0.706548 -0.201969
7  -0.038066  0.882221
8   0.276334  0.785883
9  -0.901843 -1.277747
10 -1.560054  0.047474

In [28]:
print(s.rank(),ascending=False)

TypeError: 'ascending' is an invalid keyword argument for print()